#root {
 background-color: black
}

.thebody {
    padding: auto;
    background-image: url(https://cdn.discordapp.com/attachments/870732357328601129/873608353694220298/bguseacct_2.jpg);
    background-size: flex; 
    height: 74vh;
    align-items: center;
    display: flex;
}
    
    

.edit-customCard {
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: auto;
    margin: auto;   
    width: 100%;   
    display: flex;
    flex-direction: column;
    background-color: #082f6338;    
}

.profile-card-body {
    padding: auto;
    margin: auto;
   justify-content: center;
    width: 100%; 
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #082f6338;
    word-wrap: break-word;  
    border-radius: .75rem;
}

.editimage {
  
    height: 250px;
    
}

#tag-submit {
    width: 50px;
    height: 25px;
    font-size: .7em;
    padding: 3px;
}

.edit-account-settings {
    width: auto;
}
    
li.list-group-item {
    background-color: #082f6338;
}


#bio {
    align-items: top;
    height: 150px;
}

#update-submit {
    margin-left: .5em;
    margin-right: .5em
}

.about {
    background-color: #b0cff738;

    height: 150px;
}

.user-avatar {
    background-color: #03429438;
    align-items: center;
    padding: .75em .75em .75em .75em;   
   
}