.custom {
    background-image: url("https://i.pinimg.com/originals/51/9d/48/519d48a2324134bba9bd020c476dfd2d.jpg");
    background-size: cover;
}

.bg-custom {
    background-color: rgba(228, 228, 228, 0.911);
}

.customColor {
    color: white;
}