.custom {
    background-image: url("https://gregorlove.com/site/assets/files/5215/beach-house-2018-08-05b.1000x0-is.jpg");
    background-size: cover;
}

.bg-custom {
    background-color: rgba(228, 228, 228, 0.911);
}

.customTile {
    color: white;
}
