.thebody {
    padding: auto;
    background-image: url(https://cdn.discordapp.com/attachments/870732357328601129/873608353694220298/bguseacct_2.jpg);
    width: 100%;
    height: flex;
    background-size: cover, no-repeat;
   
   
}
.main-body {
    padding: auto;
    
    width: 100%;
    
}

.card-body {
    padding: auto;
    margin: auto;   
    width: 100%; 
   
    display: flex;
    flex-direction: column;
    background-color: #082f6338;
   
    
}
.account-settings {
    padding: auto;
    margin: auto;
    min-height: 200px;
    width: 100%;
 
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #4c95f338;
   
    
}

div.row {
    display: flex;
    width: 100%;
}




    
li.list-group-item {
    background-color: #082f6338;
}




